.users {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: '1rem';

  .container {
    overflow: hidden;
    overflow-x: scroll;
  }

  .ant-btn {
    border-radius: 5px;
  }
}
::-webkit-scrollbar {
  display: none;
}
